* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
header {
    background: url(images/header_bg.jpg) no-repeat center/cover;
    height: 700px;
}

.container {
    width: 1110px;
    margin: auto;
}

header h2 {
    font-weight: 400;
    font-size: 50px;
    color: #70869d;
    padding: 292px 0 0 0;
    line-height: 36px;
}

header p {
    font-size: 70px;
    padding: 34px 0 0 0;
    color: #404040;
    line-height: 50px;
    font-weight: 700;
}

.block1 {
    padding-top: 100px;
    height: 610px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.inside1 {
    width: 540px;
    height: 255px;
    display: flex;
    justify-content: space-between;
}

.right {
    width: 255px;
    height: 255px;
}

.inside1 h3 {
    font-size: 18px;
    line-height: 20px;
    color: #1f3750;
    padding-top: 22px;
}

.inside1 p {
    font-size: 16px;
    line-height: 24px;
    color: #70869d;
    padding-top: 4px;
}

.inside1 button {
    padding: 12px 65px 13px 69px;
    background: #f2f2f2;
    border: none;
}

.inside1 button:hover {
    cursor: pointer;
    background: #0092b6;
    border: #0092b6;
    color: #ffffff;
}

.block2 {
    margin-top: 100px;
    height: 556px;
    background-color: #f3f9ff;
    display: flex;
    justify-content: space-between;
}

.side {
    width: 255px;
    height: 556px;
}

.side h3 {
    font-size: 16px;
    font-weight: 900;
    color: #1f3750;
    line-height: 27px;
    padding: 49px 0 0 38px;
}

.side img {
    margin: 35px 0 0 17px;
}

.side p {
    font-weight: 400;
    font-size: 16px;
    color: #70869d;
    line-height: 24px;
    padding: 32px 0 0 13px;
}

.side a {
    color: #1f3750;
    font-weight: 900;
    font-size: 16px;
    line-height: 16px;
    display: block;
    padding: 25px 0 0 13px;
}

.block3 h1{
    text-align: center;
    color: #5b6c7f;
    font-size: 20px;
    line-height: 19px;
    padding-top: 50px;
}

.insider {
    width: 935px;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.block3 ul li {
    display: flex;
    list-style-type: none;
}

.block3 ul a{
    text-decoration: none;
    font-size: 20px;
    color: #70869d;
    line-height: 30px;
    transition: color 0.5s;
}

.block3 ul a:hover {
    color: #0092b6;
}


footer {
    height: 100px;
    widows: 100%;
    background: #f3f9ff;
    margin-top: 100px;
}

.foot {
    padding-top: 43px;
    display: flex;
    justify-content: space-between;
}

.foot ul {
    display: flex;
    list-style-type: none;
}

.foot ul a {
    text-decoration: none;
    color: #7f8080;
    font-size: 14px;
    line-height: 13px;
    margin-right: 31px;
    transition: color 0.5s;
}

.foot ul a:hover {
    border-bottom: 3px solid #440e62;
    color: #0092b6;
}

.foot ul a:last-child {
   margin-right: 15px;
}

.foot h1 {
   font-size: 20px;
   font-weight: bold;
   line-height: 15px;
   color: #444444;
}